name: "publish@watcher: Monitor if need to publish"

on:
  push:
    branches:
      - main
    paths:
      - src/main.ts
      - .github/workflows/publish.yaml
      - package.json
      - pnpm-lock.yaml
  workflow_dispatch:

jobs:
  update-variable:
    runs-on: ubuntu-latest
    steps:
      - name: update
        if: ${{ vars.SHOULD_PUBLISH == 'false' }}
        uses: action-pack/set-variable@c745021a3a403ab9cc351b4aabe3e528f22d9937 # v1
        with:
          name: "SHOULD_PUBLISH"
          value: "true"
          token: ${{ secrets.VARIABLE_ASSIGNMENT }}
